<%include partials/header.ejs%>
<a href="/"><h1 style="margin-left: 50px; color: black;">Teddy's Travels</h1></a>
<h2 style="margin-left: 50px;"> The Parks I've Seen</h2>
<div class="container">
  <% visited.forEach(function(park){ %>
    <div class="row">
        <div class="column" style=" marigin-left: 50px; margin-right: 50px; margin-bottom: 50px;">
          <img class="parkPicture" style="height: 250px; width: 348px;" src="<%= park.image %>">
          <p class ="markerFont"><b><%=park.name %></b></p>
        </div>
    </div>
  <%});%>
</div>



<%include partials/footer.ejs%>
